@charset "UTF-8";


* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: purple;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;

    background-color: whitesmoke;
    width: 300px;
    height: 650px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.275);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background-image: url(imagens/pexels-veeterzy-114979.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 275px;
}

section#login > div#formulario {
    display: block;
    padding: 15px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 15px;
}

div#formulario > p {
    text-align: justify;
}

form > div.campo {
    display: block;
    background-color: whitesmoke;
    width: 100%;
    height: 35%;
    border-radius: 5px;
    border: 1px solid purple;
    margin: 10px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    font-size: 1.5em;
    width: 35px;
    padding: 5px;
}

div.campo > input {
    background-color: whitesmoke;
    font-size: 1em;
    height: 100%;
    border: none;
    border-radius: 5px;
    margin: 5px 15px;
    outline: none;
}

form > input[type='submit'] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 35px;
    background-color: purple;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type='submit']:hover {
    background-color: rgba(128, 0, 128, 0.500);
    color: black;
}

form > a.botao {
    display: block;
    margin-top: 10px;
    padding-top: 6px;
    text-align: center;
    width: 100%;
    height: 35px;
    text-decoration: none;
    background-color: whitesmoke;
    color: purple;
    border: 1px solid purple;
    border-radius: 5px;
}

form > a.botao:hover {
    background-color: rgba(128, 0, 128, 0.200);
}
